.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
body {
font-size: 16px;
font-family: "Lato", sans-serif;
color: #656565;
position: relative;
}
@media (min-width: 992px) {
body {
  padding-top: 0;
  padding-left: 17rem;
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Oxygen", sans-serif;
}

p {
font-size: 1.1rem;
line-height: 1.8;
}

.gray-bg {
background: #f6f6f6;
}

.bg-primary {
background: #3DC4DE;
background: -webkit-linear-gradient(315deg, #36D1DC 0%, #5B86E5 100%);
background: -o-linear-gradient(315deg, #36D1DC 0%, #5B86E5 100%);
background: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
}

.title {
text-align: center;
text-transform: uppercase;
font-weight: bold;
color: #8a8a8a;
margin-bottom: 30px;
}

section.resume-section {
padding-top: 60px !important;
padding-bottom: 60px !important;
max-width: 75rem;
}
section.resume-section .resume-item .resume-date {
min-width: none;
}
@media (min-width: 992px) {
section.resume-section {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
}

@media (min-width: 768px) {
#hero {
  min-height: 100vh;
}
}

.btn {
font-size: 0.9rem;
padding: 10px 15px;
}
@media (min-width: 992px) {
.btn {
  font-size: 1rem;
  padding: 12px 18px;
}
}

.btn-primary {
background: #3DC4DE;
border-width: 2px;
border-color: #3DC4DE;
border-radius: 0;
text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus {
background: transparent;
border-color: #fff;
}

.btn-outline-light {
border-radius: 0;
border-width: 2px;
text-transform: uppercase;
}
.btn-outline-light:hover, .btn-outline-light:focus {
color: #fff;
background: #3DC4DE;
border-color: #3DC4DE;
}

.btn-send,
.btn-primary.disabled {
width: 100%;
opacity: 1;
background: #3DC4DE;
border-color: #3DC4DE;
}
.btn-send:hover, .btn-send:focus,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus {
background: transparent;
color: #3DC4DE;
border-color: #3DC4DE;
}

.project-modal-container {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0, 0, 0, 0.4);
z-index: 9999;
overflow-x: hidden;
overflow-y: auto;
}

.project-modal {
position: relative;
width: 90%;
margin: 30px auto 0 auto;
background: #fff;
padding: 40px 15px;
}
.project-modal h3 {
font-size: 1.3rem;
font-weight: bold;
color: #8a8a8a;
margin-bottom: 15px;
}
@media (min-width: 992px) {
.project-modal {
  padding: 40px 100px 50px 100px;
}
}

.button-container {
text-align: center;
margin-bottom: 30px;
}
.button-container h2 {
text-transform: uppercase;
font-weight: bold;
color: #8a8a8a;
font-size: 1.25rem;
margin-bottom: 20px;
}
@media (min-width: 992px) {
.button-container h2 {
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 2rem;
}
}
.button-container button {
background: #3DC4DE;
border-color: #3DC4DE;
border-width: 2px;
margin-right: 15px;
width: 40px;
height: 40px;
color: #fff;
font-size: 1.2rem;
-webkit-transition: background 0.5s;
-o-transition: background 0.5s;
transition: background 0.5s;
border-style: solid;
-webkit-appearance: none;
}
.button-container button:last-child {
margin-right: 0;
}
.button-container button:hover, .button-container button:focus {
background: transparent;
color: #3DC4DE;
cursor: pointer;
}
.button-container button i {
position: relative;
left: -7px;
}
@media (min-width: 768px) {
.button-container button i {
  left: 0;
}
}
@media (min-width: 992px) {
.button-container button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}
}
@media (min-width: 992px) {
.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
}

.details-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.details-container img {
display: block;
width: 100%;
margin: 0 auto;
margin-bottom: 20px;
border: 5px solid #fff;
-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
.details-container img {
  width: 50%;
  margin-bottom: 0;
}
}
@media (min-width: 992px) {
.details-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
}

.project-details p {
font-size: 1rem;
}
@media (min-width: 992px) {
.project-details {
  width: 50%;
  padding-left: 50px;
}
}

.project-technology {
list-style: none;
padding: 0;
}
.project-technology li {
display: inline-block;
background: #3DC4DE;
padding: 7px 15px;
color: #fff;
border-radius: 3px;
text-align: center;
margin-right: 10px;
}

.project-links {
list-style: none;
padding: 0;
}
.project-links li {
display: inline-block;
margin-right: 15px;
}
.project-links li a {
color: #3DC4DE;
font-size: 1.2rem;
-webkit-transition: color 0.5s;
-o-transition: color 0.5s;
transition: color 0.5s;
}
.project-links li a:hover {
text-decoration: none;
color: #656565;
}
.project-links li a i {
margin-right: 5px;
}

.logo {
width: 40px;
padding-right: 10px;
}

.navbar-dark .navbar-toggler {
border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand:first-child {
text-transform: uppercase;
}

#sideNav .navbar-nav .nav-item .nav-link {
letter-spacing: 0.05rem;
text-transform: uppercase;
font-family: "Oxygen", sans-serif;
color: rgba(255, 255, 255, 0.7);
-webkit-transition: color 0.5s;
-o-transition: color 0.5s;
transition: color 0.5s;
}
#sideNav .navbar-nav .nav-item .nav-link.active {
color: #fff;
}
#sideNav .navbar-nav .nav-item .nav-link:hover {
color: #fff;
}
#sideNav .navbar-toggler:focus {
outline-color: white;
}

@media (min-width: 992px) {
#sideNav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17rem;
  height: 100vh;
  background: #3DC4DE;
  background: -webkit-linear-gradient(315deg, #36D1DC 0%, #5B86E5 100%);
  background: -o-linear-gradient(315deg, #36D1DC 0%, #5B86E5 100%);
  background: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
}
#sideNav .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 20px auto;
  padding: 0.5rem;
}
#sideNav .navbar-brand .img-profile {
  max-width: 200px;
  max-height: 200px;
  border: 8px solid rgba(255, 255, 255, 0.3);
}
#sideNav .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  margin-bottom: auto;
}
#sideNav .navbar-collapse .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
#sideNav .navbar-collapse .navbar-nav .nav-item {
  display: block;
}
#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
  display: block;
}
}
.social-links {
display: none;
}
@media (min-width: 992px) {
.social-links {
  display: block;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.social-links li {
  display: inline-block;
  margin-right: 10px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links li a {
  display: block;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.social-links li a:hover {
  background: rgba(255, 255, 255, 0.3);
}
}

#contact .contact-links {
list-style: none;
padding: 0;
margin-top: 30px;
margin-bottom: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
#contact .contact-links li {
margin-right: 10px;
}
#contact .contact-links li:last-child {
margin-right: 0;
}
#contact .contact-links li a {
display: block;
background: #3DC4DE;
border: 2px solid #3DC4DE;
color: #fff;
font-size: 1.3rem;
width: 45px;
height: 45px;
border-radius: 50%;
line-height: 42px;
-webkit-transition: background 0.5s;
-o-transition: background 0.5s;
transition: background 0.5s;
font-weight: normal;
text-align: center;
margin-bottom: 0;
}
#contact .contact-links li a:hover, #contact .contact-links li a:focus {
background: transparent;
color: #3DC4DE;
border-color: #3DC4DE;
}
#contact .contact-links li a i {
padding-right: 0;
}
@media (min-width: 992px) {
#contact .contact-links {
  display: none;
}
}

.hero {
margin-top: 50px;
height: 300px;
background: #3DC4DE;
background: url("../img/hero.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 80%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: relative;
text-align: center;
}
.hero::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 26, 88, 0.6);
}
.hero h1 {
color: #fff;
z-index: 1;
font-size: 1.75rem;
font-weight: bold;
}
.hero h2 {
color: #fff;
z-index: 1;
font-size: 1.2rem;
line-height: 1.5rem;
width: 80%;
margin-bottom: 20px;
}
.hero .hero-btn-container {
z-index: 1;
}
.hero .hero-btn-container .btn {
margin-right: 15px;
}
.hero .hero-btn-container .btn:last-child {
margin-right: 0;
}
@media (min-width: 768px) {
.hero {
  height: 500px;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero h2 {
  font-size: 1.2rem;
  width: 100%;
}
}
@media (min-width: 992px) {
.hero {
  height: 100vh;
  margin-top: 0;
}
.hero h1 {
  font-size: 3.75rem;
  margin-bottom: 20px;
}
.hero h2 {
  font-size: 1.75rem;
  width: 100%;
  margin-bottom: 40px;
}
}

.project-container {
position: relative;
overflow: hidden;
margin-bottom: 30px;
}
.project-container:hover {
cursor: pointer;
}
.project-container img {
width: 100%;
border: 5px solid #fff;
}

.project-overlay {
background: #3DC4DE;
text-align: center;
position: absolute;
bottom: -35px;
left: 0;
width: 100%;
padding: 10px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-transition: bottom 0.5s ease-in-out;
-o-transition: bottom 0.5s ease-in-out;
transition: bottom 0.5s ease-in-out;
}
.project-overlay h3 {
color: #fff;
font-size: 1.2rem;
margin-bottom: 5px;
text-transform: uppercase;
}
.project-overlay p {
color: #fff;
opacity: 0.8;
margin: 0;
-webkit-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
}
.project-overlay p:hover {
opacity: 1;
}

.project-container:hover .project-overlay {
bottom: 0;
}

.skills-container {
border: 5px solid #f6f6f6;
min-height: 250px;
padding: 25px;
margin-bottom: 20px;
}
.skills-container h3 {
font-size: 1.2rem;
color: #3DC4DE;
font-weight: bold;
}
.skills-container h3:after {
content: "";
display: block;
background: #f6f6f6;
width: 100%;
height: 2px;
margin: 10px 0;
}
@media (min-width: 1300px) {
.skills-container h3 {
  font-size: 1.3rem;
}
}
@media (min-width: 1400px) {
.skills-container h3 {
  font-size: 1.5rem;
}
}
.skills-container ul {
list-style: none;
padding: 0;
}
.skills-container ul li {
font-size: 1.125rem;
line-height: 30px;
}
@media (min-width: 1200px) {
.skills-container {
  margin-bottom: 0;
}
}

#contact a {
color: #3DC4DE;
font-size: 1.2rem;
display: block;
margin-bottom: 30px;
font-weight: bold;
-webkit-transition: color 0.5s;
-o-transition: color 0.5s;
transition: color 0.5s;
}
#contact a i {
padding-right: 10px;
}
#contact a:hover {
text-decoration: none;
color: #656565;
}

.form-control {
border-color: transparent;
border-radius: 0;
padding: 25px 20px;
}

.with-errors {
margin-top: 5px;
}
.with-errors li {
color: #d10000;
}

footer {
background: #F0F0F0;
text-align: center;
padding: 20px 0;
color: #777;
}
footer p {
margin: 0;
}